body {
    /*background-color: #ebeae8;*/
    background-image: url("https://www.solidbackgrounds.com/images/125x125/125x125-antique-white-solid-color-background.jpg");
}

#dropdown {
    position: relative;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 15%;
    background-color: #fff;
}

#dropdown div {
    padding: 8px;
    cursor: pointer;
}

#dropdown div:hover {
    background-color: #f1f1f1;
}

#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

* {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}


/* Styles for small screens */

@media (max-width: 600px) {
    .my-element {
        width: 100%;
    }
}

@media (max-width: 767px) {
    /* Adjust layout and font sizes here */
}


/* Styles for medium screens */

@media (min-width: 768px) and (max-width: 1023px) {
    /* Adjust layout and font sizes here */
}


/* Styles for large screens */

@media (min-width: 1024px) {
    /* Adjust layout and font sizes here */
}


/* Apply styles to the weather container element */

#weather-container {
    float: center;
    text-align: center;
    width: 100%;
    font-weight: bold;
    margin-top: 30px;
    font-family: Space Grotesk, Arial, sans-serif;
}

#search-button {}


/*#weather-info {
    font-style: italic, montserrat;
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
}*/


/* Apply styles to the map container element */


/*#map-container {
    text-align: right;
    float: center;
    width: 40%;
    margin-top: 40px;
    font-family: Arial, monospace;
}


 Apply styles to the map element 

#map {
    height: 250px;
}*/

#map-container {
    text-align: center;
    width: 40%;
    margin: 40px auto 0;
    font-family: Arial, monospace;
}

#map {
    height: 250px;
}


/* Apply styles to the search bar element */

#search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    max-width: 500px;
    font-family: Space Grotesk, Arial, sans-serif;
}

#search-input {
    border: 2px solid #aaa;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px;
    width: 100%;
    margin-right: 10px;
}

#search-button {
    background-color: #f5910e;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

#search-button:hover {
    background-color: #f5910e;
}

body {
    position: relative;
    min-height: 100vh;
}

#contact {
    text-align: center;
}

.contact {
    /*position: absolute;*/
    /*bottom: 0;*/
    /*background-color: #00000099;*/
    /* background-image: url('https://img.freepik.com/free-photo/abstract-smooth-orange-background-layout-design-studio-room-web-template-business-report-with-smooth-circle-gradient-color_1258-79739.jpg?size=626&ext=jpg');*/
    background-color: #010901cd;
    color: #ffffff;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    font-family: Space Grotesk, Arial, sans-serif;
    font-size: 14px;
}

.contact h2 {
    margin-top: 0;
}

.contact p {
    margin: 10px 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    cursor: pointer;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #000;
    border-radius: 5px;
}

nav {
    display: none;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    font-family: Space Grotesk, Arial, sans-serif;
    /*background-image: url('https://www.solidbackgrounds.com/images/125x125/125x125-purple-taupe-solid-color-background.jpg');*/
}

nav li {
    margin: 0px;
}

nav a {
    text-decoration: none;
    color: white;
}

@media screen and (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
    nav {
        display: flex;
    }
    nav li {
        margin: 0 10px;
    }
}

header {
    background-color: #f5910e;
}

.header-name {
    text-align: right;
    margin-right: 20px;
    font-family: Space Grotesk, Arial, sans-serif;
    font-size: 22px;
    color: white;
}

.where-to {
    background: url('https://openweathermap.org/themes/openweathermap/assets/img/winter6.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

.section {
    width: 100%;
    display: grid;
    justify-items: center;
}

.mobile-padding {
    padding-left: 8pt;
    padding-right: 8pt;
    font-family: Space Grotesk, Arial, sans-serif;
}

#weather-container h2 {
    color: #f5910e;
}

#map-container h2 {
    color: #f5910e;
}

.map-container map {
    height: 30px;
}

#section1 h2 {
    font-family: Space Grotesk, Arial, sans-serif;
    font-size: 25px;
    text-align: center;
    color: #f5910e
}

#section1 p {
    font-family: Space Grotesk, Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: black;
    width: 800px;
    margin: 0 auto;
    display: flex;
}


/*#weather-info {
    padding: 10px;
}*/

#weather-info {
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    border: 3px solid #120101;
    background-color: #e0932e00;
}

#weather-info .weather-description {
    font-size: 18px;
    font-weight: bold;
    width: 200px;
    float: left;
}

#weather-info .temperature {
    font-size: 16px;
    width: 100px;
    float: left;
}

#weather-info .humidity {
    font-size: 14px;
    width: 100px;
    float: left;
}

#weather-info .wind-speed {
    font-size: 12px;
    width: 100px;
    float: left;
}

#contact {
    padding: 0;
    background-color: rgba(0, 0, 0, 0.732);
    color: white;
    font-family: Space Grotesk, Arial, sans-serif;
}

#contact h2 {
    padding: 10px;
}

#contact p {
    padding: 10px;
}